@model Project.Models.ApplicantDto

@{
    ViewData["Title"] = "Profile";
    ViewData["PageName"] = "Profile";
}

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img id="img_applicant" class="position-absolute w-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/@Model.Image" style="object-fit: contain; visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">@Model.Fullname</h1>
                </div>
                @if (TempData["AlertMessageSuccess"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["AlertMessageSuccess"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
               @* @if (TempData["AlertMessageError"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["AlertMessageError"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }*@
                <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Password</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Personal Data</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form asp-action="Profile" method="post" enctype="multipart/form-data">
                            <h1>Profile</h1>
                            <div class="row g-3">
                                <input asp-for="Id" hidden />
                                <input asp-for="Email" hidden />
                                <input asp-for="Password" hidden />
                                <input asp-for="Image" hidden />
                                <div class="col-12">
                                    <input type="email" class="form-control border-0 bg-light px-4 mb-1" placeholder="@Model.Email" style="height: 55px;" disabled>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <input type="text" asp-for="Fullname" class="form-control border-0 bg-light px-4 mb-1" placeholder="Full Name" style="height: 55px;">
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>

                                <div class="col-6">
                                    <input type="text" asp-for="Phone" class="form-control border-0 bg-light px-4 mb-1" placeholder="Phone Number" style="height: 55px;">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <input type="date" asp-for="Birthday" class="form-control border-0 bg-light px-4 mb-1" placeholder="Ward" style="height: 55px;">
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <input type="text" asp-for="Ward" class="form-control border-0 bg-light px-4 mb-1" placeholder="Ward" style="height: 55px;">
                                    <span asp-validation-for="Ward" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <input type="text" asp-for="District" class="form-control border-0 bg-light px-4 mb-1" placeholder="District" style="height: 55px;">
                                    <span asp-validation-for="District" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <input type="text" asp-for="Province" class="form-control border-0 bg-light px-4 mb-1" placeholder="Province" style="height: 55px;">
                                    <span asp-validation-for="Province" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <input type="file" class="form-control border-0 px-4 mb-1" id="inputImage" name="file" onchange="previewImage(event)" accept="image/*">

                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
                
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('img_applicant');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}