.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}


.search input:focus {
    box-shadow: none;
    border: 2px solid #06a3da;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #06a3da;
}

.dropdown-toggle1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 2px solid #06a3da;
    font-weight: 600;
}

.vacancy {
    background-color: #f6f9ff;
    transition: .3s;
    border-radius: 15px;
}

.vacancy:hover {
    background-color: white;
}

.vacancy i {
    font-size: 20px;
}

.vacancy p, .vacancy .listskill span {
    margin-bottom: 0px;
    color: black;
    font-size: 13px;
}

.vacancy .listskill span:not(:first-of-type) {
    background: #eaeaea;
    padding: 7px;
    border-radius: 7px;
    font-size: 13px;
}

.img-vacancy {
    border-radius: 10px;
}

option{
    background-color:white !important;
}
option:hover{
    
}