.listskill span {
    background-color: #eaeaea;
    padding: 7px;
    border-radius: 7px;
    display:inline-block;
    margin-top:10px;
}

.process ul li {
    font-size: 14px;
}

.general {
    background-color: #f6f9ff;
    transition: .3s;
}

    .general:hover {
        background-color: white;
    }
